User's Friends Page

About me: 
<%= @profile %>

<table>
  <tr>
    <th>ID #</th>
    <th>Name</th>
  </tr>

<% @friends.each do |x| %>
  <tr>
    <td><%= x["id"] %> </td>
    <td><%= x["name"] %> </td>
  </tr>
<% end %>

</table>

<p>

<b>My Updates</b>
<table>
<% @updates.each do |x| %>
  <tr>
    <td><%= x.myupdate %> </td>
  </tr>
<% end %>
</table>

<p><b>My Friends</b>
<table>
<% @registered_friends.each do |x| %>
  <tr>
    <td><%= x.friend_id %> </td>
    <td><%= User.find(x.friend_id).name %> </td>
    <td><%= User.find(x.friend_id).uid %> </td>
    
  </tr>
<% end %>
</table>

<%# @friendinsert = User.findfriends(current_user.id) %>
<%# @friendarray  = [] %>
<%# @friendarray << @friendfinder %>
<%# @friendarray.flatten! %>
<%# binding.pry %>
<p><b>My Friends' Updates</b>
<table>
<% @friendupdates = Update.where("user_id" => @friendarray) %>
<% @friendupdates.each do |x| %>
  <tr>
    <td><%= x.myupdate %> </td>
    <td><%= x.created_at %> </td>
  </tr>
<% end %>
</table>